@import "mixins/rem.mixin";
@import "mixins/tooltips.mixin";
@import "mixins/clicker.mixin";
@import "mixins/verticalize.mixin";
@import "mixins/checkbox.mixin";

@function cp($target, $container) {
	@return ($target / $container) * 100%;
}

@mixin clearfix() {
	*zoom: 1;
	&:after {
		content: '';
		display: table;
		line-height: 0;
		clear: both;
	}
}