/* contacts */
.contacts{
	@include clearfix;
	background: rgba(white, 0.77);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.44);
	padding: 20px;
	font-size: 14px;
	p{
		margin-bottom: 23px;
	}
	&__col{
		float: left;
		width: 50%;
		min-height: 1px;
		padding-bottom: 35px;
		&:nth-child(1){
			padding-right: 70px;
		}
		&:nth-child(2){
			padding-left: 70px;
		}
	}
	&__input-box{
		margin-bottom: 15px;
	}
	&__label{
		display: inline-block;
		vertical-align: top;
		width: 85px;
		margin-top: 8px;
		padding-right: 24px;
		text-align: right;
		font-size: 14px;
	}
	&__input{
		width: 305px;
		margin-left: -0.26em;
	}
	&__textarea{
		width: 305px;
		height: 192px;
		resize: none;
		margin-left: -0.26em;
	}
	&__btn{
		margin-left: 85px;
	}
	&__item{
		margin-bottom: 15px;
		&-icon{
			display: inline-block;
			width: 40px;
			vertical-align: bottom;
			&:before{
				content: '';
				display: block;
			}
			&.addr{
				&:before{
					@include sprite($icon-addr);
				}
			}
			&.tel{
				&:before{
					@include sprite($icon-tel);
				}
			}
			&.mail{
				&:before{
					@include sprite($icon-mail);
				}
			}
		}
		&-text{
			display: inline-block;
		}
	}
}
.notice{
	position: relative;
	width: 340px;
	padding: 20px 90px 40px 17px;
	margin: 40px 0 35px;
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
	background: white;
	box-shadow:
	0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.55)
	,inset 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.22)
	;
	&:before{
		content: '';
		display: block;
		width: 110px;
		height: 98px;
		position: absolute;
		right: 20px;
		bottom: 0;
		background: url('../images/png/bird.png') no-repeat center;
	}
}
.b-soc{
	margin-left: -15px;
	&__link{
		@extend %link-clicker;
		display: inline-block;
		vertical-align: middle;
		line-height: 0;
		margin: 0 0 15px 15px;
	}
}
/* .contacts */