/* index */
.main-slider{
	padding: 20px;
	margin-bottom: 45px;
	background: #f0f0f0;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.44);
}
.advantages{
	&__row{
		@include clearfix;
		margin-left: -10px;
		margin-right: -10px;
	}
	&__col{
		position: relative;
		float: left;
		padding: 5px 10px;
		width: cp(1,6);
		&:after{
			content: '';
			display: block;
			width: 1px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			background: #a3a3a3;
			box-shadow: 1px 0px 0px #cdcdcb;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
	&__item{
		text-align: center;
		&-img{
			height: 85px;
			overflow: hidden;
			img{}
		}
		&-title{
			margin-bottom: 10px;
			font-size: 18px;
			text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.44);
		}
		&-text{
			color: #3a3a3a;
			font-size: 12px;
			line-height: 18px;
			text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.44);
		}
	}
}
/* .index */