/* layout */
.wrap-site{
	background: url('../images/media/bg.jpg') repeat;
}
.container{
	width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}
.header{
	padding: 0.1px 0;
	&__title{
		margin: 31px 0 21px;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 27px;
		color: #282828;
	}

}
.nav-bar{
	position: relative;
	padding-right: 235px;
	margin-bottom: 30px;
	background: url('../images/png/menu-bg.png') repeat-x center / auto 100%;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.44);
	&__menu{
		font-size: 0;
		&-item{
			list-style: none;
			display: inline-block;
			vertical-align: top;
			& + &{
				border-left: 1px solid #9b9b9b;
			}
			&.active{
				&>a{
					background: url('../images/png/menu-bg-hover.png') repeat-x;
					background-size: auto 100% ;
				}
			}
		}
		&-link{
			display: block;
			height: 50px;
			width: 110px;
			padding: 0 10px;
			text-align: center;
			line-height: 50px;
			font-size: 16px;
			color: inherit;
			text-decoration: none;
			// &:hover{
			// 	background: url('../images/png/menu-bg-hover.png') repeat-x;
			// 	background-size: auto 100% ;
			// }
			&:active{
				line-height: 52px;
			}
		}
	}
	&__search{
		position: absolute;
		top: 15px;
		right: 20px;
	}
}
.search-widget{
	width: 195px;
	height: 22px;
	position: relative;
	form{
		height: 100%;
	}
	&__input{
		width: 100%;
		height: 100%;
		padding: 0 30px 0 5px;
		border: none;
		background-color: rgb(189, 189, 189);
		box-shadow: 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.44),inset 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.6);
	}
	&__btn{
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		width: 25px;
		height: 100%;
		border: none;
		background: none;
		font-size: 0;
		cursor: pointer;
		&:before{
			@include sprite($icon-search);
			display: inline-block;
			content: '';
		}
		&:active{
			top: 1px;
		}
	}
}
/* .layout */