- var href = 'javascript:void(0)';
- var wrapClass = null;
block vars
include mixins/_all-mixins
doctype html
html.no-js
	head
		meta(charset='utf-8')
		title Dev site
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		//- styles
		link(rel='stylesheet', href='plugins/owl.carousel/assets/owl.carousel.css')
		//- link(rel='stylesheet', href='plugins/owl.carousel/assets/owl.theme.default.min.css')
		link(rel='stylesheet', href='styles/style.css')
		block style
		block script
	body
		#preloader
			#status
		.wrap-site(class=wrapClass)
			include blocks/_header
			main.main
				block content
			//- include blocks/_footer
		script(src="plugins/jquery.min.js")
		script(src="plugins/owl.carousel/owl.carousel.min.js")
		script(src="plugins/delete-me.js")
		script(src="scripts/main.js")
		block scripts