extends _layout
block content
	.container
		div(block="contacts")
			//- col-1
			div(elem="col")
				p Feel free to drop a line to work with us or just to say “hi”
				form(action="")
					div(elem="input-box")
						label(elem="label" for="name") Name:
						input#name.input-style(elem="input" type="text" name="name" autocomplete="name" required="")

					div(elem="input-box")
						label(elem="label" for="mail") E-mail:
						input#mail.input-style(elem="input" type="email" name="email" autocomplete="email")

					div(elem="input-box")
						label(elem="label" for="msg") Message:
						textarea#msg.input-style(elem="textarea" name="message")

					button.btn(elem="btn") Send

			//- col-2
			div(elem="col")
				mixin cont-item(icon, text)
					div(elem="item")
						i(elem="item-icon" class=icon)
						div(elem="item-text")=text
				+cont-item('addr', 'Lorem Avenue Ipsum Street No:11/21')
				+cont-item('tel', '555 - 444 33 22')
				+cont-item('mail', 'contact@locusadvertising.com')

				div(block="notice") RT If you're following a popular celebrity, on Twitter, a great deal of the time, your tw'ting an assistant or writers 4 hire. Not here!
				div(block="b-soc")
					-for(i=1;i<=8;i++)
						a(elem="link" href=href)
							img(src="images/media/soc-"+i+".png", alt="", title="soc "+i)

