extends _layout
block content
	.container
		div.js-slider(block="main-slider")
			-for(i=0;i<6;i++)
				div(elem="slide")
					img(src="images/media/slide-1.jpg", alt="")
		div(block="advantages")
			div(elem="row")
				mixin adv-col(img, title)
					div(elem="col")
						div(elem="item")
							div(elem="item-img")
								img(src="images/media/adv-img-"+img, alt="")
							div(elem="item-title")=title
							div(elem="item-text") Lorem ipsum dolor sit martamet, consectetur adipisicing elit, sed do.
				+adv-col('1.png', 'Web Design')
				+adv-col('2.png', 'Photography')
				+adv-col('3.png', 'Video')
				+adv-col('4.png', 'Graphic Design')
				+adv-col('5.png', 'E-Commerce')
				+adv-col('6.png', 'Programming')
