.text{
	&-left{ text-align: left; }
	&-right{ text-align: right; }
	&-center{ text-align: center; }
}
.half{ width: 50%; }
.verticalize{ @include verticalize; }
.input-style{
	padding: 5px 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.55),inset 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.22);
	height: 31px;
	border: none;
}
.btn{
	@extend %link-clicker;
	background: #bdbdbd;
	min-width: 105px;
	height: 31px;
	padding: 0;
	border: none;
	box-shadow:
	inset 0px 1px 1px 0px rgba(white,0.6)
	,  0px 1px 1px 0px rgba(black,0.5);
	;
	transition: background ease 0.2s;
	&:hover{
		background: lighten(#bdbdbd, 5%);
	}
	&:active{
		background: darken(#bdbdbd, 5%);
	}
}