/* plugins */
.slider-style-1{
	position: relative;
	.owl{
		&-nav{
			position: absolute;
			top: 50%;
			height: 0;
			left: 20px;
			right: 20px;
		}
		&-prev,
		&-next{
			position: absolute;
			top: 0;
			margin-top: -20px;
			background: rgba(white, 0.77);
			width: 30px;
			height: 40px;
			line-height: 40px;
			font-size: 0;
			text-align: center;
			&:before{
				@extend %link-clicker;
				content: '';
				display: inline-block;
				vertical-align: middle;
			}
		}
		&-prev{
			left: 0;
			&:before{
				@include sprite($arrow-prev);
			}
		}
		&-next{
			right: 0;
			&:before{
				@include sprite($arrow-next);
			}
		}
		&-dots{
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			width: 143px;
			height: 35px;
			margin: -20px auto 0;
			text-align: center;
			line-height: 40px;
			background: #f0f0f0;
			&:before{
				@include sprite($dots-bg);
				content: '';
				display: block;
				position: absolute;
				bottom: -3px;
				left: -1px;
			}
		}
		&-dot{
			@extend %link-clicker;
			padding: 3px;
			display: inline-block;
			position: relative;
			z-index: 1;
			vertical-align: middle;
			&.active{
				span{
					@include sprite($icon-dot-active);
				}
			}
			span{
				@include sprite($icon-dot);
				display: block;
			}
		}
	}
}
/* .plugins */