/* setup */
*, *:after, *:before {
	box-sizing: border-box;
}

// Футер книзу
html,
body {
	height: 100%;
}
.wrap-site {
	min-height: 100%;
	min-width: 320px;
	position: relative;
	width: 100%;
	overflow: hidden;
}
// .wrap-site .main {
// 	padding-bottom: 100px + 30;
// }
// .wrap-site .footer {
// 	position: absolute;
// 	width: 100%;
// 	height: 100px;
// 	left: 0;
// 	bottom: 0;
// }
// .Футер книзу

input:focus,textarea:focus, button:focus {
	outline: none;
}

ul,ol,li,dl,dt,dd,p{
	margin: 0;
	padding: 0;
	font-weight: 100;
}

html {
	min-height: 100%;
}
body{
	font-family: $font;
	color: black;
}
/* .setup */