header(block="header")
	.container
		h1(elem="title")
			b Locus
			|  Advertising
		div(block="nav-bar")

			ul(elem="menu")
				mixin menu-item(title, state)
					li(elem="menu-item" class=state)
						a(elem="menu-link" href=href)=title
				+menu-item('Home')
				+menu-item('About')
				+menu-item('Portfolio', 'active')
				+menu-item('News')
				+menu-item('Contact')

			div(elem="search")
				div(block="search-widget")
					form(action="")
						input(elem="input" type="text" required="")
						button(elem="btn") search